<template>
    <div>
        <!--Header Section -->
        <Navigation/>

        <!--Content Section -->
        <div class="py-14">
            <router-view />
        </div>

        <!--footer Section -->
    </div>
</template>
<script>
    import Navigation from "@/components/navigation/Navigation";
    export default {
        name: 'Menu',
        components:{
            Navigation
        }

    }
</script>
<style scoped>


</style>
