<template>
    <div class="bg-foodies-pattern1 pb-24">
        <!--Header Section -->
        <div class="relative  overflow-hidden">
            <div class="max-w-7xl mx-auto">
                <div class="relative z-10 pb-8  sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                    <div class="relative pt-6 px-3 sm:px-5 lg:px-6">
                        <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start"
                             aria-label="Global">
                            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                                <div class="flex items-center justify-between w-full md:w-auto">
                                    <a href="#">
                                        <a class="text-black text-2xl foodiesTitle">Foodies</a>
                                    </a>
                                    <div class="-mr-2 flex items-center md:hidden">
                                        <button type="button"
                                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                                                id="main-menu" aria-haspopup="true">
                                            <span class="sr-only">Open main menu</span>
                                            <!-- Heroicon name: menu -->
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                 viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M4 6h16M4 12h16M4 18h16"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden md:block md:ml-12 md:pr-5 md:space-x-13">
                                <a  @click="scrollToComponent('#about')" class="text-black hover:underline foodiesMenuItem px-3 py-3  text-base ">Acerca
                                    de</a>
                                <a @click="scrollToComponent('#locations')" class="text-black  hover:underline foodiesMenuItem  px-3 py-3 text-base ">Restaurantes</a>
                                <a @click="scrollToComponent('#comments')"  class="text-black hover:underline  foodiesMenuItem px-3 py-3  text-base ">Menú</a>
                                <a @click="scrollToComponent('#contact')" class="text-black hover:underline foodiesMenuItem px-3 py-3  text-base ">Contáctanos</a>
                            </div>
                        </nav>
                    </div>

                    <!--
                      Mobile menu, show/hide based on menu open state.

                      Entering: "duration-150 ease-out"
                        From: "opacity-0 scale-95"
                        To: "opacity-100 scale-100"
                      Leaving: "duration-100 ease-in"
                        From: "opacity-100 scale-100"
                        To: "opacity-0 scale-95"
                    -->
                    <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
                        <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
                            <div class="px-5 pt-4 flex items-center justify-between">
                                <div>
                                    <!--                                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">-->
                                </div>
                                <div class="-mr-2">
                                    <button type="button"
                                            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                        <span class="sr-only">Close main menu</span>
                                        <!-- Heroicon name: x -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                             viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M6 18L18 6M6 6l12 12"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
                                <div class="px-2 pt-2 pb-3 space-y-1" role="none">
                                    <a href="#"
                                       class="block px-3 py-2 rounded-md text-base font-medium text-gray-700  hover:underline"
                                       role="menuitem">Acerca de</a>

                                    <a href="#"
                                       class="block px-3 py-2 rounded-md text-base font-medium text-gray-700  hover:underline"
                                       role="menuitem">Restaurantes</a>

                                    <a href="#"
                                       class="block px-3 py-2 rounded-md text-base font-medium text-gray-700  hover:underline"
                                       role="menuitem">Menú</a>

                                    <a href="#"
                                       class="block px-3 py-2 rounded-md text-base font-medium text-gray-700  hover:underline"
                                       role="menuitem">Contáctanos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                        <div class="sm:text-center lg:text-left">
                            <h1 class="text-4xl mx-2 foodiesTitle tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                                <span class="block xl:inline">Un nuevo</span>
                            </h1>
                            <h1 class="text-4xl mx-2 foodiesTitle tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                                <span class="block xl:inline">sabor esta en</span>
                            </h1>
                            <h1 class="text-4xl mx-2 foodiesTitle tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                                <span class="block xl:inline">la ciudad</span>
                            </h1>
                            <!--                            <div class="z-1 transform  -rotate-2 bg-yellow-300 md:w-6/12 md:h-10 bottom-0">-->
                            <!--                                <h1 class="z-2 text-4xl  tracking-tight  font-extrabold text-gray-900 sm:text-5xl md:text-6xl">-->
                            <!--                                    <span class="block transform rotate-2 mx-2">la ciudad</span>-->
                            <!--                                </h1>-->
                            <!--                            </div>-->
                            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-2">
                                Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.
                            </p>
                            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                                <div >
                                    <button
                                            class="w-full rounded-md font-bold hover:bg-yellow-300 customSyneTitle flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-black  md:py-4 md:text-lg md:px-10">
                                        Encuentranos
                                        <svg class="h-5 w-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="lg:absolute  lg:inset-y-0 lg:right-0 lg:w-1/2" style="z-index: 1000">
                <img class="h-52  w-full   sm:h-50 md:h-54 lg:w-full lg:h-96 md:my-12 lg:my-32"
                     src="img/hero_hamburger.svg" alt="">
            </div>
        </div>
        <!--Header Section -->

    </div>
</template>
<script>
    import {eventBus} from "@/main";

    export default{
        methods:{
            /**
             * Method that trigger scroll event
             * @param component
             */
            scrollToComponent(component){
                eventBus.$emit('scrollFunction',component);
            }
        }
    }
</script>
<style scoped>

    @import "../../assets/styles/general.css";
    .hover\:underline:hover {
        text-decoration-color: #FFD600 !important;
    }



    .foodiesMenuItem {
        font-family: Syne, serif;
    }

</style>
