<template>
    <div class=" grid grid-flow-row  auto-rows-auto">
        <AboutUs id="about"/>

        <Locations id="locations"/>

        <div>
            <div class="absolute">
                <Comments  id="comments"/>
                <div class="static">
                    <ContactForm id="contact"/>
                </div>
            </div>
        </div>




    </div>
</template>
<script>
    import AboutUs from "@/components/about-us/AboutUs";
    import Locations from "@/components/locations/Locations";
    import Comments from "@/components/comments/Comments";
    import ContactForm from "@/components/contact/ContactForm";
    import {eventBus} from "@/main";

    export default {
        components:{
            AboutUs,
            Locations,
            Comments,
            ContactForm
        },
        data:() => ({
           options:{
               easing: 'ease-in',
               lazy: false,
               offset: -60,
               force: true,
               cancelable: true,
           }
        }),
        methods:{
            /**
             * Method to scroll the landing page components
             * @param component
             */
            updateScrollComponent(component){
                this.$scrollTo(component,500);
            }
        },
        created(){
            /**
             * Global event Bus that calls the scroll method
             */
            eventBus.$on('scrollFunction',(component) =>{
                this.updateScrollComponent(component);
            })
        }
    }
</script>
