<template>
    <div class="h-96 bg-black w-full">
        <div class="grid grid-flow-row auto-rows-auto py-16">
            <h1 class="text-3xl text-white text-center foodiesTitle">Cuentanos tu experiencia</h1>
            <p class="text-lg text-white text-center">Don't miss out on our great offers & Receive deals from all our
                top restaurants via e-mail.</p>

            <!--Contact Form -->
            <div class="grid grid-cols-2 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
                <div>

                </div>
                <div>

                </div>
            </div>


        </div>
    </div>
</template>
<script>
    export default {}
</script>
