<template>
    <div class="bg-about-us-pattern grid grid-cols-2 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-5">
        <div class="bg-about-us-background h-96  flex flex-wrap content-end justify-end ">
            <div>
                <h1 class="text-2xl mx-2  tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
                    <span class="block xl:inline">LA COMIDA ES</span>
                </h1>
                <h1 class="text-2xl mx-2  tracking-tight font-extrabold text-yellow-300 sm:text-5xl md:text-6xl">
                    <span class="block xl:inline">NUESTRO ARTE</span>
                </h1>
            </div>
        </div>
        <div class=" flex flex-wrap content-center">
            <div>
                <p class="customSyneTitle font-bold">¿Quién es Foodies?</p>
                <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-2">
                    Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sunt nulla enim aliquip duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore culpa irure eiusmod minim occaecat et id minim ullamco.
                </p>

            </div>
            <button class="rounded-md mt-2 font-bold hover:bg-yellow-300 customSyneTitle flex items-center justify-start   border border-transparent text-base font-medium rounded-md text-black  md:py-4 md:text-lg px-2">
                Contáctanos
                <svg class="h-5 w-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                </svg>
            </button>
        </div>

    </div>
</template>
<script>
    export default {

    }
</script>
<style>
    @import "../../assets/styles/general.css";
</style>
