<template>
    <div class="grid grid grid-cols-2 py-16 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
        <!--Location Filters -->
        <div>
            <h1 class="foodiesTitle font-bold text-3xl text-center">Estamos para ti</h1>
            <!--Filters -->
            <div class="grid grid-cols-2">
                <button class="rounded-md mt-2 border-gray-300 flex items-stretch  justify-center font-bold focus:bg-black focus:text-white customSyneTitle f   border border-transparent text-base font-medium rounded-md text-black  md:py-4 md:text-lg px-2">
                    <i class="h-5 w-5 mr-4 icon-food"></i>
                    Para llevar
                </button>
                <button class="rounded-md mt-2 border-gray-300 flex items-stretch justify-center font-bold focus:bg-black focus:text-white customSyneTitle    border border-transparent text-base font-medium rounded-md text-black  md:py-4 md:text-lg px-2">
                    <i class="h-5 w-5 mr-8 icon-truck"></i>
                    Domicilio
                </button>
            </div>
            <div>
                <div class="mt-1 mx-2 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500  sm:text-sm">
                       <svg class="h-5 w-5 mr-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                   d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>
                      </span>
                    </div>
                    <input type="text" name="price" id="price"
                           class="focus:ring-yellow-200 focus:border-yellow-200 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                           placeholder="Búscar código postal, ciudad o departamento">
                </div>
            </div>
            <!--Location Results -->
            <div class="grid grid-flow-row auto-rows-auto items-center mx-6 my-3">
                <div class="box-border my-3 border border-gray-500 p-4  hover:bg-yellow-100 hover:border-transparent">
                    <p class="locationTitle font-bold text-xl">Sucursal</p>
                    <p class="text-base">Abierto de ...</p>
                    <p class="text-base">Avenida...</p>
                </div>
                <div class="box-border border border-gray-500 p-4  hover:bg-yellow-100 hover:border-transparent">
                    <p class="locationTitle font-bold text-xl">Sucursal</p>
                    <p class="text-base">Abierto de ...</p>
                    <p class="text-base">Avenida...</p>
                </div>
            </div>
        </div>
        <!--Map -->
        <div>
            <GmapMap ref="gmap" :center="center" :zoom="5" class="h-full w-screen sm:h-screen md:h-full lg:h-full">
                <gmap-marker
                        v-for="(m,index) in markers"
                        :key="index"
                        :position="m.position"
                        :label="m.label ? m.label:''"
                        :icon="m.label ? '':yellowMarker"
                />
            </GmapMap>
        </div>
    </div>
</template>
<script>
    import {gmapApi} from 'vue2-google-maps';

    export default {
        data: () => ({
            center: {lat: 10.3157, lng: 123.8854},
            markers: [],
            yellowMarker: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        }),
        computed:{
            google(){
                return gmapApi();
            }
        }
    }
</script>
<style>
    .locationTitle {
        font-family: Syne, serif;
    }
</style>
