<template>
    <div class="grid grid-cols-3 gap-1 h-comments-height sm:h-64 md:h-comments-height">
        <div class="bg-comments-background1 ">
        </div>
        <!--Comments Slider-->
        <div>
            comments here
        </div>

        <div class="bg-comments-background2 ">
            <div>
                <img class="h-1/2 w-full  ml-12 sm:invisible md:visible lg:visible"
                     src="img/testimonials_ketchup.svg" alt="" >
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>
