<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {

  }
}
</script>

<style>
    @import "assets/icons/locations-icons/css/fontello.css";
    @font-face {
        font-family: "DrukTextWide";
        src: local("DrukTextWide"),
        url(./assets/fonts/DrukTextWide-Bold.ttf) format("truetype");
    }
    @font-face {
        font-family: "Syne";
        src: local("Syne"),
        url(./assets/fonts/Syne-Regular.ttf) format("truetype");
    }
</style>
