@tailwind base;
@tailwind components;
@tailwind utilities;


@responsive {
    .bg-foodies-pattern1 {
        background-repeat: no-repeat;
        background-position: right  top 1%;
        background-size: 55%;
    }
    .bg-about-us-pattern {
        background-repeat: no-repeat;
        background-position: right ;
    }

    .bg-about-us-background{
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .bg-comments-background1{
        background-repeat: no-repeat;
        background-size: 40%;
    }
    .bg-comments-background2{
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: right top 40%;
    }
}
